<p>signup works!</p>
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:#F0F5F9; background-size: cover; background-position: center;">
    <div class="auth-box card ">
    
    <div class="">
      <div class="logo"><a href="/" class="db"><img
            alt="logo" src="/assets/logo.png" width="220px" class=""></a>
        <h4 class="font-medium"> <b>Signup to Room Booking System
          </b> </h4>
      </div><br><br>
      <div class="row">
        <div class="col-12">
          <form class="form-horizontal"
            novalidate="">
            <div class="row">
              <div class="col-12">
                <div class="input-group">
                  <input [(ngModel)]="email"  aria-label="Email"
                    class="form-control form-control-lg " name="email" type="text" placeholder=" Email">
  
  
                </div>
  
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6 ">
                <input [(ngModel)]="firstName"  aria-label="firstName"
                  class="form-control form-control-lg " name="firstName" type="text" placeholder=" First Name">
  
              </div>
              <div class="col-md-6 ">
  
                <input [(ngModel)]="lastName"  aria-label="lastName"
                  class="form-control form-control-lg " name="lastName" type="text" placeholder=" Last Name">
  
              </div>
            </div><br>
            <div class="row">
              <div class="col text-center">
  
                <input [(ngModel)]="password"  aria-label="Password"
                  class="form-control form-control-lg ng-untouched " formcontrolname="password" name="password"
                  type="password" placeholder=" Password">
  
              </div>
              
            </div><br> <br>
            <div class="form-check">
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="defaultCheck1" class="form-check-input terms-check-box" type="checkbox" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
  
                <span class="mat-checkbox-label 0-9-119-128">
                  <span style="display:none"></span> I agree to <a
                    href="/register">
                    Terms Conditions</a>
                </span>
              </label>
            </div><br class="0-5-21-131">
            
            <div class="row 0-5-21-136">
              <div class="col text-center "><button
                  class="btn btn-block btn-lg btn-info"
                  (click)="signup()" [ngClass]="{'n-cursor-disabled': isFormValidd === true}" [disabled]="!isFormValidd || !defaultCheck1 ">
                  Create Account </button></div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 text-center"> Already have an account
                ? <a class="text-info m-l-5 0-7-144-145 snip-a"
                  routerlinkactive="router-link-active" href="/login"><strong 
                    class=""> Sign In</strong></a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
    </ngx-spinner>
  
  
  
  