<div class="about-section">
    <h1>About Us Page</h1>
    <p>Welcome To Hotel Booking!</p>
    <p>We have a variety of rooms for you to stay in, get in contact with us using the enquite button or alternatively select you're chosen date and book a room on our dashboard!</p>
  </div>
  
  <h2 style="text-align:center">Our Rooms</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img width="40px" height="400px"  src="/assets/Single.jpeg" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Single Room</h2>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p><button class="button">Enquire</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img width="40px" height="400px"  src="/assets/Double.jpeg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Double Room</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p><button class="button">Enquire</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img width="40px" height="400px"  src="/assets/king.png" alt="Mike" style="width:100%">
        <div class="container">
            <h2>King Size Room</h2>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
         
          <p><button class="button">Enquire</button></p>
        </div>
      </div>
    </div>
  </div>